.notification-ping { background-color: #FDC300 !important; }
.rc-link { background-color: #FDC300 !important; }
.pnlm-orientation-button.pnlm-orientation-button-active { background-color: #FDC300; }
.ch-avatar-actionicon { background-color: #FDC300 !important }
._360vc_btn { background-color: #FDC300 !important }
.pnlm-container {background: #F4F4F4 !important}
