.w-users-userformpagewrap {
  height: 100vh;
  max-width: 340px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.w-users-userformheader {
  text-align: center;
}

.w-users-userloginformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformbutton {
  width: 100%;
  text-align: center;
}

.w-users-userformfooter {
  justify-content: space-between;
  margin-top: 12px;
  display: flex;
}

.w-users-userformerrorstate {
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  top: 100%;
  left: 0%;
  right: 0%;
}

.w-users-userresetpasswordformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformsuccessstate {
  display: none;
}

.w-users-usersignupformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-usersignupverificationmessage {
  display: none;
}

.w-users-userupdatepasswordformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-useraccountwrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.w-users-blockheader {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: baseline;
  padding: 4px 20px;
  display: flex;
}

.w-users-blockcontent {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  margin-bottom: 20px;
  padding: 20px;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-users-useraccountformsavebutton {
  text-align: center;
  margin-right: 8px;
}

.w-users-useraccountformcancelbutton {
  text-align: center;
  color: #333;
  background-color: #d3d3d3;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

p {
  margin-bottom: 0;
  line-height: 1em;
}

._360viewer {
  width: 100%;
  height: 100svh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

._360wrapper {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.body-2 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.ch-wrapper {
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 10em;
  justify-content: center;
  align-items: center;
  padding: 1.5em 3.42857em 1.5em 1.5em;
  display: flex;
}

.ch-wrapper.clickable {
  cursor: pointer;
  position: relative;
}

.ch-wrapper.clickable:hover {
  border-color: rgba(255, 255, 255, .1);
}

.hotspot-wrapper {
  grid-row-gap: 2em;
  background-image: url('../images/Office.webp');
  background-position: 0 0;
  background-size: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4em;
  padding-bottom: 4em;
  display: flex;
}

.hotspot-wrapper.demo {
  display: none;
}

.ch-inner {
  z-index: 2;
  grid-column-gap: 1em;
  align-items: center;
  display: flex;
  position: relative;
}

.avatar {
  width: 4em;
  height: 4em;
}

.ch-avatar-wrap {
  position: relative;
}

.ch-avatar-actionicon {
  width: 1.78571em;
  height: 1.78571em;
  background-color: #a82a97;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0;
  left: auto;
  right: -.5em;
}

.ch-avatar-actionicon.janssen {
  background-color: #f3c726;
}

._360body {
  font-family: Montreal, sans-serif;
}

.ch-details-title {
  margin-bottom: .428571em;
}

.ch_p20-r {
  color: #fff;
  font-size: 1.42857em;
  font-weight: 400;
}

.ch_p14-m {
  color: #f2f2f7;
  font-size: 1em;
  font-weight: 500;
}

.html-embed-2 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.room-controls {
  z-index: 1;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
  bottom: 4em;
  left: 0;
  right: 0;
}

.pagewrap {
  width: 100%;
  max-height: 100svh;
  min-height: 100svh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.rc-inner {
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 20em;
  padding: 1em;
}

.rc-button {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4em;
  padding: .75em 1.5em;
  transition: border-color .2s;
}

.rc-button:hover {
  border: 1px solid rgba(255, 255, 255, .35);
}

.ch_p17-5-r {
  color: #fff;
  font-size: 1.25em;
  font-weight: 400;
}

.rci-list {
  grid-column-gap: .25em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.rci-list.splide__list {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
}

.ch-clickable_tint {
  z-index: 1;
  opacity: 0;
  background-color: rgba(216, 216, 216, .88);
  border-radius: 10em;
  transition: opacity .2s;
  position: absolute;
  top: .142857em;
  bottom: .142857em;
  left: .142857em;
  right: .142857em;
}

.ch-clickable_tint.animate {
  transition-property: none;
}

.ch-clickable_tint.hover {
  transition-duration: 1s;
}

.notification-ping {
  width: 1.25em;
  height: 1.25em;
  background-color: #861a82;
  border-radius: 2em;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: -.21em;
  bottom: auto;
  right: -.42em;
}

.ch_p10-m {
  color: #fff;
  font-size: .75em;
}

._360videocontainer {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: none;
}

._360vc_inner {
  z-index: 1;
  width: 69.2857em;
  border-radius: 1em;
  position: relative;
  overflow: hidden;
}

._360videoembed {
  z-index: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

._360videocontrols {
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.playiconembed {
  justify-content: center;
  align-items: center;
  padding-left: .1em;
  display: flex;
}

._360vc-cb {
  width: 4em;
  height: 4em;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

._360vc-cb.pause {
  width: 3.12em;
  height: 3.12em;
}

.pauzeiconembed {
  justify-content: center;
  align-items: center;
  display: flex;
}

._360vc_close {
  cursor: pointer;
  border-radius: 6em;
  padding: 1em 1.5em;
}

.ch_p16-m {
  color: #fff;
  font-size: 1.14286em;
  font-weight: 500;
}

.room-videos {
  z-index: 2;
  grid-row-gap: 2em;
  opacity: 0;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  background-color: rgba(0, 0, 0, .2);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity .75s ease-out;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.room-videos.inactive {
  display: none;
}

._360vc-subcontrols {
  z-index: 2;
  grid-column-gap: .75em;
  grid-row-gap: .75em;
  align-items: center;
  display: flex;
  position: absolute;
  top: 2em;
  right: 2em;
}

.rc-link {
  width: 2.9em;
  height: 2.9em;
  background-color: #861a82;
  border-radius: 3em;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.rc-link.splide__slide {
  border: 1px solid rgba(255, 255, 255, .3);
  transition: background-color .2s;
}

.rc-link.splide__slide:hover {
  background-color: #9e489b;
}

.ch_p14-b {
  color: #e5e5ea;
  font-family: Inconsolata, monospace;
  font-size: 1em;
  font-weight: 700;
}

.room-info_modals {
  z-index: 2;
  opacity: 0;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  justify-content: center;
  align-items: center;
  transition: opacity .75s ease-out;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.room-info_modals.inactive {
  display: none;
}

.infomodal-container {
  width: 100%;
  height: 100%;
  max-height: 30em;
  max-width: 25em;
  border-radius: 2.5em;
  flex-direction: column;
  padding: 2em 2em 0;
  display: none;
}

.im-top {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2em;
  display: flex;
}

.im-scroll {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-direction: column;
  flex: 1;
  padding-right: .5em;
  display: flex;
  overflow: auto;
}

.imt-company {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  align-items: center;
  display: flex;
}

.imt-close {
  width: 2.92857em;
  height: 2.92857em;
  cursor: pointer;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 4em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.imt-company_details {
  grid-column-gap: .285714em;
  grid-row-gap: .285714em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.image {
  width: 3.5em;
  height: 3.5em;
}

.ims-item {
  grid-column-gap: .785714em;
  grid-row-gap: .785714em;
  background-color: rgba(83, 83, 83, .35);
  border-radius: 1em;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5em;
  display: flex;
}

.ims-item.last {
  margin-bottom: 2em;
}

.ims-item_label {
  background-color: #832280;
  border-radius: .5em;
  padding: .36em .5em;
}

.ch_p16-r {
  color: #fff;
  font-size: 1.14286em;
  font-weight: 400;
}

.ch_p17-5-m {
  color: #fff;
  font-size: 1.25em;
  font-weight: 500;
}

.crossembed {
  display: flex;
}

._360vc-cta_wrap {
  z-index: 2;
  position: absolute;
  top: 2em;
  bottom: auto;
  left: 2em;
  right: auto;
}

._360vc_btn {
  cursor: pointer;
  background-color: #832280;
  border-radius: 6em;
  padding: 1em 1.5em;
  text-decoration: none;
  transition: background-color .2s;
}

._360vc_btn:hover {
  background-color: #9e489b;
}

.mailicon {
  display: flex;
}

.icons {
  display: none;
}

@media screen and (max-width: 991px) {
  ._360videocontainer {
    width: 100vw;
    padding-left: 2em;
    padding-right: 2em;
  }

  ._360vc_inner {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .ch-wrapper {
    padding: .65em 2em .65em .65em;
  }

  .ch-inner {
    grid-column-gap: 1em;
  }

  .avatar {
    width: 3.1em;
    height: 3.1em;
  }

  .ch-avatar-actionicon {
    width: 1.25em;
    height: 1.25em;
    bottom: -.1em;
    right: -.6em;
  }

  .ch-details-title {
    margin-bottom: .35em;
  }

  .ch_p20-r {
    font-size: 1em;
  }

  .ch_p14-m {
    font-size: .75em;
  }

  .room-controls {
    bottom: 1em;
    left: 1em;
    right: 1em;
  }

  .rc-inner.splide {
    width: 100%;
    padding: 1.1em 1.2em;
    overflow: hidden;
  }

  .rc-button {
    background-color: rgba(255, 255, 255, .08);
  }

  .rc-button:hover {
    border-color: rgba(0, 0, 0, 0);
  }

  .ch_p17-5-r {
    font-size: 1.1em;
  }

  .rci-list.splide__list {
    grid-column-gap: 0em;
    justify-content: flex-start;
  }

  ._360videocontainer {
    padding-left: 1em;
    padding-right: 1em;
  }

  ._360vc-cb.play {
    width: 3.5em;
    height: 3.5em;
    cursor: pointer;
  }

  .room-videos.inactive {
    width: 100%;
  }

  ._360vc-subcontrols {
    top: 1em;
    right: 1em;
  }

  .rc-link.splide__slide {
    width: 2.8em;
    height: 2.8em;
  }

  .ch_p14-b {
    font-size: .75em;
  }

  .infomodal-container {
    max-height: 50vh;
    max-width: 80vw;
  }

  .im-scroll {
    padding-right: 0;
  }

  .ch_p17-5-m {
    font-size: 1.1em;
  }

  ._360vc-cta_wrap {
    top: 1em;
    left: 1em;
  }
}

@media screen and (max-width: 479px) {
  .ch-avatar-actionicon {
    width: 1.25em;
    height: 1.25em;
  }

  .ch_p14-m {
    font-size: .8em;
    line-height: 1.1em;
  }

  ._360vc-cb.play {
    width: 3em;
    height: 3em;
    cursor: pointer;
  }

  ._360vc-cb.pause {
    width: 2.5em;
    height: 2.5em;
  }

  ._360vc_close {
    padding: .75em 1.2em;
  }

  .ch_p16-m {
    font-size: .875em;
  }

  ._360vc-subcontrols {
    grid-column-gap: .5em;
  }

  .ch_p14-b {
    font-size: .8em;
    line-height: 1.1em;
  }

  .infomodal-container {
    padding-top: 1.75em;
    padding-left: 1.75em;
    padding-right: 1.75em;
  }

  .im-scroll {
    grid-column-gap: .75em;
    grid-row-gap: .75em;
  }

  .ims-item {
    padding: 1.25em;
  }

  .ch_p16-r {
    font-size: .875em;
  }

  ._360vc_btn {
    padding: .75em 1.2em;
  }
}


@font-face {
  font-family: 'Silka';
  src: url('/spherestory/fonts/Silka-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Silka';
  src: url('/spherestory/fonts/Silka-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Silka';
  src: url('/spherestory/fonts/Silka-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montreal';
  src: url('/spherestory/fonts/PPNeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montreal';
  src: url('/spherestory/fonts/PPNeueMontreal-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
