.notification-ping { background-color: #E41819 !important; }
.rc-link { background-color: #E41819 !important; }
.pnlm-orientation-button.pnlm-orientation-button-active { background-color: #E41819; }
.ch-avatar-actionicon { background-color: #E41819 !important }
._360vc_btn { background-color: #E41819 !important }
