footer {
    display: none;
}
.mat-toolbar {
    box-shadow: none; border-bottom: solid 1px #c0c0c080;
}
#logo-container {
    background-color: transparent !important;
}
.mat-toolbar-row, .mat-toolbar-single-row {
    background-color: white !important;
}
.busy-indicator-container {
    background-color: white !important;
    background-image: url("https://cdn.prod.website-files.com/666ffb86771f14d0c05ec05a/669f9d1f9f9a5d9be1e54789_img_3196-p-1600.webp") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.busy-indicator-container:has(rax-check-out-container) {
    background-image: none !important;
}
rax-shell-side-menu {
    border: solid 14px white;
}
.cms-part-checkout-bar-container {
    background: white;
    border: solid 1px #c0c0c080;
}

.checkout-bar[_ngcontent-ng-c2711708803] {
    box-shadow: none !important;
    background-color: white !important;
    border: solid 1px #c0c0c080 !important;
    padding: 12px !important;
}

.checkout-bar[_ngcontent-ng-c2711708803] .checkout-steps[_ngcontent-ng-c2711708803] .step[_ngcontent-ng-c2711708803] .progress-image[_ngcontent-ng-c2711708803] {
    display: none;
}

.checkout-bar[_ngcontent-ng-c2711708803] .checkout-steps[_ngcontent-ng-c2711708803] .mat-divider[_ngcontent-ng-c2711708803] {
    border-top-color: #c0c0c080;
    border-right-color: #c0c0c080;
}

.finish-image[_ngcontent-ng-c2711708803] {
    display: none;
}

.primary-thick-border-container {
    background-color: white;
    border: 1px solid #c0c0c080;
    margin-top: 21px;
}

.border-form-field .mat-mdc-text-field-wrapper {
    border: 1px solid #c0c0c080 !important;
    color: black !important;
    background-color: #fff !important;
    border-radius: .185em !important;
    min-height: 52px;
}

.flex.gap-4.flex-col {
    color: black !important;
}

rax-check-out-payment-success .h-full {
    background-color: #515954 !important;
}
rax-check-out-payment-success .w-full {
    background: #515954 !important;
    color: #333 !important;
    padding: 2.5em !important;
}

@media screen and (max-width: 768px) {
    .toolbar-logo-link img {
        height: 26px !important;
    }
    .checkout-bar[_ngcontent-ng-c2711708803] {
        padding: 8px;
    }
    [_nghost-ng-c415878082] {
        background-color: white;
        border: 1px solid #c0c0c080;
        box-shadow: none;
    }
    rax-check-out-payment-success .w-full {
        padding: 1em !important;
        font-size: 13px !important;
        line-height: 1.5 !important;
    }
    .title.medium {
        font-size: 24px !important;
        line-height: 1.25 !important;
    }
    .sub-title.medium {
        font-size: 16px !important;
        line-height: 1.5 !important;
    }
}

