footer {
    display: none;
}
.mat-toolbar {
    box-shadow: none; border-bottom: solid 1px #c0c0c080;
}
#logo-container {
    background-color: transparent !important;
}
.mat-toolbar-row, .mat-toolbar-single-row {
    background-color: white !important;
}
.busy-indicator-container {
    background-color: white !important;
    background-image: url("https://cdn.prod.website-files.com/666ffb86771f14d0c05ec05a/669f9d1f9f9a5d9be1e54789_img_3196-p-1600.webp") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.busy-indicator-container:has(rax-check-out-container) {
    background-image: none !important;
}
rax-shell-side-menu {
    border: solid 14px white;
}
.cms-part-checkout-bar-container {
    background: pink;
    border: solid 1px #c0c0c080;
}

.checkout-bar {
    box-shadow: none !important;
    background-color: #515954 !important;
    border: solid 1px #c0c0c080 !important;
}

@media screen and (max-width: 768px) {
    .toolbar-logo-link img {
        height: 26px !important;
    }

}

